.login-popup {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #00000090;
    display: grid;
}

.login-popup-container {
    place-self: center;
    width: max(23vw, 330px);
    color: var(--desc-color, #808080);
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px 30px;
    border-radius: 8px;
    font-size: 14px;
    animation: fadeIn 0.5s;
    border: 1px solid var(--text-color);
}

.login-google-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    border: 1px solid #c9c9c9;
    border-radius: 4px;
    background: white;
    cursor: pointer;
    font-weight: 500;
    margin-top: 5px;
    transition: 0.2s;
    color: #555;
    font-size: 14px;
}

.login-google-btn:hover {
    background-color: #f5f5f5;
}

.login-google-btn img {
    width: 18px;
}

.login-popup-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-color);
}

.login-popup-title img {
    width: 16px;
    cursor: pointer;
}

.login-popup-inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login-popup-inputs input {
    outline: none;
    border: 1px solid #C9C9C9;
    padding: 10px;
    border-radius: 4px;
}

.login-popup-container button {
    border: none;
    padding: 10px;
    border-radius: 4px;
    color: white;
    background-color: #FF4C24;
    font-size: 15px;
    cursor: pointer;
}

.login-popup-condition {
    display: flex;
    align-items: start;
    gap: 8px;
    margin-top: -15px;
}

.login-popup-condition input {
    margin-top: 5px;
}


.login-popup p span {
    color: #FF4C24;
    font-weight: 500;
    cursor: pointer;
}