.app-download {
    margin: 100px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: max(5vw, 40px);
}

.app-download-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.app-download-left p {
    font-size: max(3vw, 30px);
    font-weight: 500;
    text-align: left;
    color: var(--text-color);
}

.app-download-platforms {
    display: flex;
    gap: max(2vw, 10px);
}

.app-download-platforms img {
    width: max(30vw, 120px);
    max-width: 180px;
    transition: 0.5s;
    cursor: pointer;
}

.app-download-platforms img:hover {
    transform: scale(1.05);
}

.app-download-right img {
    width: 300px;
    transition: 0.5s;
    cursor: pointer;
}

.app-download-right img:hover {
    transform: scale(1.02);
}

@media (max-width: 750px) {
    .app-download {
        flex-direction: column;
        text-align: center;
    }

    .app-download-left {
        align-items: center;
    }

    .app-download-left p {
        text-align: center;
        font-size: max(4vw, 20px);
    }
}